<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-lg-8">
		  +82-63-270-2557<br />
		  SmartDigitalAgriculture<br />
		  Department of Smart Farm, Jeonbuk National University<br />
		  567, Baekje-daero, Deokjin-gu, Jeonju-si, Jeonbuk-do, Republic of Korea<br />
            (<a href="https://maps.app.goo.gl/CxsMri8jK99omDnE8">Maps</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
