// Styling for the masthead
header.masthead {
  text-align: left;
  color: black;
  //background-image: url("#{$header-image}");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  margin-top: -72px;
  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    .intro-lead-in {
      font-size: 22px;
      //font-style: italic;
      line-height: 20px;
      margin-bottom: 40px;
      @include serif-font;
    }
    .intro-heading {
      text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.45);
      font-size: 50px;
      font-weight: 700;
      line-height: 20px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
}
@media (min-width: 768px) {
  header.masthead {
    .intro-text {
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.45);
        padding-top: 300px;
        padding-bottom: 200px;
      .intro-lead-in {
        font-size: 40px;
        //font-style: italic;
        line-height: 20px;
        margin-bottom: 40px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
  }
}
