// Styling for the team section
.team-member {
  margin-bottom: 50px;
  text-align: center;
  img {
    width: 225px;
    height: 225px;
    border: 7px solid fade-out($black, 0.9);
  }
  h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }
  p {
    margin-top: 0;
  }
}

.team-member img {
  object-fit: cover; /* 이미지를 잘라내지 않고 중앙을 유지 */
  width: 200px; /* 고정된 너비 */
  height: 200px; /* 고정된 높이 */
  border-radius: 50%; /* 원형으로 만들기 */
}