// Global styling for this template
body {
  overflow-x: hidden;
  @include body-font;
}

// Fix for fixed navigation covering content
#page-top {
  padding-top: 72px;
}

// Post page content styling
.container {
  h2, h3, h4, h5, h6 {
    margin-top: 2rem;
    &:first-child {
      margin-top: 0;
    }
  }
}

p {
  line-height: 1.75;
}

a {
  color: $primary;
  &:hover {
    color: darken($primary, 10%);
  }
}

a.icon_link {
  color: $black
}

.text-primary {
  color: $primary !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  @include heading-font;
}

.page-section {
  padding: 100px 0;
  h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    @include serif-font;
  }
}

// First section after fixed nav
.page-section:first-of-type {
  margin-top: -72px;
  padding-top: 172px;
}
@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

// Highlight color customization
::-moz-selection {
  background: $primary;
  text-shadow: none;
}

::selection {
  background: $primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}
